.error{color:red; font-size: 10px;}
.help-block{color:red; font-size: 10px;}
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,400i");
@font-face {
  font-family: 'FontAwesome';
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont3e6e.eot?v=4.7.0");
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfontd41d.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont3e6e.html?v=4.7.0") format("woff2"), url("../bower_components/font-awesome/fonts/fontawesome-webfont3e6e.woff?v=4.7.0") format("woff"), url("../bower_components/font-awesome/fonts/fontawesome-webfont3e6e.ttf?v=4.7.0") format("truetype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*themify icons*/
@font-face {
  font-family: 'themify';
  src: url("../bower_components/themify-icons/fonts/themify.eot");
  src: url("../bower_components/themify-icons/fonts/themifyd41d.eot?#iefix") format("embedded-opentype"), url("../bower_components/themify-icons/fonts/themify.woff") format("woff"), url("../bower_components/themify-icons/fonts/themify.ttf") format("truetype"), url("../bower_components/themify-icons/fonts/themify.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/**et line icons**/
@font-face {
  font-family: 'et-line';
  src: url("../et-line-font/fonts/et-line.eot");
  src: url("../et-line-font/fonts/et-lined41d.eot?#iefix") format("embedded-opentype"), url("../et-line-font/fonts/et-line.woff") format("woff"), url("../et-line-font/fonts/et-line.ttf") format("truetype"), url("../et-line-font/fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
Basic of template
*/
html, body, html.footer-sticky, .footer-sticky body {
  height: 100%; }

body {
  color: #666666;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 1.85714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button, input, optgroup, select, textarea {
  font-family: "Open Sans", sans-serif; }

button:focus {
  outline: 0 !important; }

a, .simple-hover img, button, .btn {
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

a {
  color: #3483de;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important;
    color: #666; }

/**typography**/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-weight: 400;
  font-variant-ligatures: common-ligatures;
  margin-top: 0; }

h1,
.h1 {
  font-size: 3.14285714em;
  line-height: 1.31818182em; }

h2,
.h2 {
  font-size: 2.35714286em;
  line-height: 1.36363636em; }

h3,
.h3 {
  font-size: 1.78571429em;
  line-height: 1.5em; }

h4,
.h4 {
  font-size: 1.35714286em;
  line-height: 1.36842105em; }

h5,
.h5 {
  font-size: 1em;
  line-height: 1.85714286em; }

h6,
.h6 {
  font-size: 0.85714286em;
  line-height: 2.16666667em; }

.lead {
  font-size: 1.35714286em;
  line-height: 1.68421053em;
  font-weight: 400; }

@media all and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.35714286em;
    line-height: 1.36363636em; }
  h2,
  .h2 {
    font-size: 1.78571429em;
    line-height: 1.5em; }
  h3,
  .h3 {
    font-size: 1.35714286em;
    line-height: 1.85714286em; }
  .lead {
    font-size: 1.35714286em;
    line-height: 1.36842105em; } }

.tritary-font {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  font-style: italic; }

.base-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.font300 {
  font-weight: 300 !important; }

.font400 {
  font-weight: 400 !important; }

.font700 {
  font-weight: 700 !important; }

small {
  font-size: 65%; }

.bg-faded {
  background: #f8f8f8; }

.badge-primary {
  background: #3483de !important; }

.bg-primary {
  background: #3483de !important;
  border-color: #3483de; }

.bg-success {
  background: #5cb85c !important;
  border-color: #5cb85c; }

.bg-warning {
  background: #f0ad4e;
  border-color: #f0ad4e; }

.bg-info {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.bg-danger {
  background-color: #c9302c;
  border-color: #c9302c; }

.bg-dark {
  border-color: #34495E !important;
  background-color: #34495E !important; }

.bg-white {
  background: #fff; }

.text-primary {
  color: #3483de !important; }

.text-danger {
  color: #c9302c !important; }

.text-success {
  color: #5cb85c !important; }

.text-warning {
  color: #f0ad4e !important; }

.text-info {
  color: #5bc0de !important; }

.text-white {
  color: white !important; }

.text-dark {
  color: #222222 !important; }

.text-white-gray {
  color: rgba(255, 255, 255, 0.8) !important; }

.border-round {
  border-radius: 6px;
  -webkit-border-radius: 6px; }

.pos-relative {
  position: relative; }

.lead {
  font-weight: 400;
  color: #888888; }

strong, b {
  font-weight: 700; }

.fWidth {
  width: 100% !important; }

.oHidden {
  overflow: hidden !important; }

strong, b {
  font-weight: 700; }

.pt0 {
  padding-top: 0 !important; }

.pt10 {
  padding-top: 10px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.mt5 {
  margin-top: 5px !important; }

.bg-default {
  background-color: #f7f7f7 !important; }

.bg-gray {
  background-color: #fbfbfb; }

.border0-hor {
  border-left: 0 !important;
  border-right: 0 !important; }

.back-to-top {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  bottom: 10px;
  right: 10px;
  background: #3483de;
  color: #fff;
  line-height: 50px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, 15px, 0);
  -webkit-transform: translate3d(0, 15px, 0); }
  .back-to-top i {
    display: block;
    font-size: 25px;
    line-height: 50px;
    text-align: center; }
  .back-to-top:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    color: #fff; }
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0); }

/**preloader**/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

@media (min-width: 992px) {
  .table-responsive {
    display: table; } }

.bg1 {
  background: url(../images/bg2.jpg) no-repeat; }

.col-grid {
  padding: 10px 15px;
  background: #eee;
  border: 1px solid #fff; }

.list-icon li {
  position: relative;
  padding-left: 23px;
  margin-top: 5px;
  display: block;
  font-family: "Poppins", sans-serif; }
  .list-icon li:before {
    content: "\e64c";
    font-family: 'themify';
    position: absolute;
    left: 0;
    top: 0;
    color: #3483de; }

.icon-examples .icon-box {
  font-size: 14px;
  font-weight: 300; }
  .icon-examples .icon-box span:before {
    margin-right: 15px;
    font-size: 25px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center; }

.contact-lead {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-weight: 300; }
  .contact-lead small {
    font-size: 50%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3); }

.parallax-overlay {
  position: relative;
  overflow: hidden; }
  .parallax-overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4); }

.color-overlay:before {
  background: rgba(52, 131, 222, 0.8); }

/*
Preloader style
*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999; }

#preloader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5px;
  width: 5em;
  height: 5em;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  border-top: 0.5em solid #3483de;
  border-right: 0.5em solid rgba(245, 245, 245, 0.5);
  border-bottom: 0.5em solid rgba(245, 245, 245, 0.5);
  border-left: 0.5em solid rgba(245, 245, 245, 0.5);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

#preloader-inner,
#preloader-inner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*
Buttons
*/
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  font-size: .8rem; }

.btn {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0rem;
  font-size: .80rem;
  font-family: "Poppins", sans-serif;
  padding: 13px 25px 10px !important;
  text-transform: uppercase;
  vertical-align: middle; }
  .btn i {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle; }
  .btn.btn-rounded {
    border-radius: 100px; }
  .btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .3s; }
  .btn:hover, .btn:focus {
    box-shadow: none;
    outline: 0 !important; }
    .btn:hover:before, .btn:focus:before {
      transition: all .3s;
      z-index: -1; }
  .btn.btn-link {
    border: 0px;
    padding: 0px !important; }
  .btn.btn-sm {
    padding: 9px 15px 6px !important;
    font-size: .65rem;
    font-weight: 600; }
  .btn.btn-lg {
    padding: 16px 30px 13px !important;
    font-size: .95rem; }
  .btn.btn-link {
    color: #3483de;
    text-transform: capitalize; }
    .btn.btn-link:after {
      font-family: 'themify';
      content: "\e661";
      margin-left: 5px;
      font-size: 12px; }
    .btn.btn-link:hover {
      text-decoration: none;
      color: #999; }

.btn-white {
  background-color: #fff;
  color: #333; }

.btn-white-outline {
  border: 2px solid #333;
  background-color: transparent;
  color: #333; }
  .btn-white-outline:hover, .btn-white-outline:focus {
    color: #333;
    border-color: #fff; }
    .btn-white-outline:hover:before, .btn-white-outline:focus:before {
      width: 100%;
      background-color: #fff; }

.btn-outline-primary {
  border: 2px solid #3483de;
  background-color: transparent;
  color: #3483de; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: #fff;
    border-color: #3483de;
    background-color: transparent; }
    .btn-outline-primary:hover:before, .btn-outline-primary:focus:before, .btn-outline-primary:active:before {
      width: 100%;
      background-color: #3483de; }

.btn-outline-info {
  border: 2px solid #5bc0de;
  background-color: transparent;
  color: #5bc0de; }
  .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    color: #fff;
    border-color: #5bc0de;
    background-color: transparent; }
    .btn-outline-info:hover:before, .btn-outline-info:focus:before, .btn-outline-info:active:before {
      width: 100%;
      background-color: #5bc0de; }

.btn-outline-info {
  border: 2px solid #5bc0de;
  background-color: transparent;
  color: #5bc0de; }
  .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    color: #fff;
    border-color: #5bc0de;
    background-color: transparent; }
    .btn-outline-info:hover:before, .btn-outline-info:focus:before, .btn-outline-info:active:before {
      width: 100%;
      background-color: #5bc0de; }

.btn-outline-success {
  border: 2px solid #5cb85c;
  background-color: transparent;
  color: #5cb85c; }
  .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    color: #fff;
    border-color: #5cb85c;
    background-color: transparent; }
    .btn-outline-success:hover:before, .btn-outline-success:focus:before, .btn-outline-success:active:before {
      width: 100%;
      background-color: #5cb85c; }

.btn-outline-danger {
  border: 2px solid #c9302c;
  background-color: transparent;
  color: #c9302c; }
  .btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
    color: #fff;
    border-color: #c9302c;
    background-color: transparent; }
    .btn-outline-danger:hover:before, .btn-outline-danger:focus:before, .btn-outline-danger:active:before {
      width: 100%;
      background-color: #c9302c; }

.btn-outline-warning {
  border: 2px solid #f0ad4e;
  background-color: transparent;
  color: #f0ad4e; }
  .btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active {
    color: #fff;
    border-color: #f0ad4e;
    background-color: transparent; }
    .btn-outline-warning:hover:before, .btn-outline-warning:focus:before, .btn-outline-warning:active:before {
      width: 100%;
      background-color: #f0ad4e; }

.btn-outline-secondary {
  border: 2px solid #ccc;
  background-color: transparent;
  color: #ccc; }
  .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
    color: #fff;
    border-color: #ccc;
    background-color: transparent; }
    .btn-outline-secondary:hover:before, .btn-outline-secondary:focus:before, .btn-outline-secondary:active:before {
      width: 100%;
      background-color: #ccc; }

/**fill buttons**/
.btn-primary, .btn-success, .btn-warning, .btn-danger, .btn-info, .btn-secondary {
  box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.18);
  border: 0px; }
  .btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover, .btn-info:hover, .btn-secondary:hover {
    border: 0px;
    box-shadow: 0 0.05em 1em rgba(0, 0, 0, 0.18); }

.btn-secondary {
  background: #f5f5f5;
  box-shadow: none; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border: 0px;
    color: #333;
    box-shadow: none; }

.btn-primary {
  background: #3483de;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #3483de;
    color: #fff; }

.btn-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center; }
  .btn-circle i {
    display: block;
    line-height: 80px;
    margin: 0 auto;
    font-size: 35px; }
  .btn-circle .btn-primary i, .btn-circle .btn-success i, .btn-circle .btn-warning i, .btn-circle .btn-danger i, .btn-circle .btn-info i {
    color: #fff; }

.btn-dark {
  background: #34495E;
  color: #fff; }
  .btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background: #34495E;
    color: #fff; }

.icon-sm-rounded {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block !important;
  text-align: center;
  border-radius: 50%;
  background: #3483de;
  color: #fff; }

/****************

SOCIAL BUTTONS

**********************/
/**social icons default size**/
.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon:hover {
  border-color: transparent; }

.social-icon i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
  position: relative; }

.social-icon i:last-child {
  color: #FFF !important; }

.social-icon:hover i:first-child {
  margin-top: -40px; }

/***social icons lg (big)***/
.social-icon-lg {
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-lg:hover {
  border-color: transparent; }

.social-icon-lg i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 60px;
  position: relative; }

.social-icon-lg i:last-child {
  color: #FFF !important; }

.social-icon-lg:hover i:first-child {
  margin-top: -60px; }

/***social icons small***/
.social-icon-sm {
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-sm:hover {
  border-color: transparent; }

.social-icon-sm i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  position: relative; }

.social-icon-sm i:last-child {
  color: #FFF !important; }

.social-icon-sm:hover i:first-child {
  margin-top: -30px; }

si-border {
  border: 1px solid #AAA !important; }

.si-border-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-dark-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray {
  background: #f3f3f3;
  border: 0px; }

.si-dark {
  background-color: #333;
  border: 0px !important;
  color: #fff !important; }

/**icons hover colored**/
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important; }

.si-colored-twitter, .si-twitter:hover {
  background-color: #00ACEE !important; }

.si-colored-google-plus, .si-g-plus:hover {
  background-color: #DD4B39 !important; }

.si-colored-skype, .si-skype:hover {
  background-color: #00AFF0 !important; }

.si-linkedin:hover, .si-colored-linkedin {
  background-color: #0E76A8 !important; }

.si-pin:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-rss:hover, .si-colored-rss {
  background-color: #EE802F !important; }

.si-pinterest:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-tumblr:hover, .si-colored-tumblr {
  background-color: #34526F !important; }

.si-vimeo:hover, .si-colored-vimeo {
  background-color: #86C9EF !important; }

.si-digg:hover, .si-colored-digg {
  background-color: #191919 !important; }

.si-instagram:hover, .si-colored-instagram {
  background-color: #3F729B !important; }

.si-flickr:hover, .si-colored-flickr {
  background-color: #FF0084 !important; }

.si-paypal:hover, .si-colored-paypal {
  background-color: #00588B !important; }

.si-yahoo:hover, .si-colored-yahoo {
  background-color: #720E9E !important; }

.si-android:hover, .si-colored-andriod {
  background-color: #A4C639 !important; }

.si-appstore:hover, .si-colored-apple {
  background-color: #000 !important; }

.si-dropbox:hover {
  background-color: #3D9AE8 !important; }

.si-dribbble:hover, .si-colored-dribbble {
  background-color: #EA4C89 !important; }

.si-soundcloud:hover, .si-colored-soundcoloud {
  background-color: #F70 !important; }

.si-xing:hover, .si-colored-xing {
  background-color: #126567 !important; }

.si-phone:hover, .si-colored-phone {
  background-color: #444 !important; }

.si-behance:hover, .si-colored-behance {
  background-color: #053eff !important; }

.si-github:hover, .si-colored-github {
  background-color: #171515 !important; }

.si-stumbleupon:hover, .si-colored-stumbleupon {
  background-color: #F74425 !important; }

.si-email:hover, .si-colored-email {
  background-color: #6567A5 !important; }

.si-wordpress:hover, .si-colored-wordpress {
  background-color: #1E8CBE !important; }

/*
Assan Header Style
*/


.navbar-light.bg-faded {
  background: #fff;
  border-bottom: 0px; }

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7); }

.navbar-nav > li > .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0px;
  font-family: "Poppins", sans-serif; }

.navbar-nav > li .navbar-light .navbar-nav .nav-link:focus, .navbar-nav > li .navbar-light .navbar-nav .nav-link:hover {
  color: #3483de; }

.navbar-nav > li.dropdown-full-width {
  position: static; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
  color: #3483de; }

.navbar-toggler-right {
  position: absolute;
  right: 5rem; }

.navbar-toggler {
  border: 0px !important; }

.navbar-inverse .navbar-right-elements .list-inline > li > a {
  color: rgba(255, 255, 255, 0.5); }

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-right-elements .list-inline > li > a:hover {
  color: rgba(255, 255, 255, 0.75); }

@media (min-width: 992px) {
  li.nav-item.nav-button {
    position: relative;
    top: -3px; }
  .navbar-toggleable-md .navbar-nav .nav-link {
   
    }
  .navbar-nav {
    margin-right: -15px; }
  .navbar-nav {
    margin-right: 65px; } }

.navbar-right-elements {
  float: none !important;
  position: absolute;
  top: 34px;
  right: 15px; }
  .navbar-right-elements .list-inline {
    margin-bottom: 0px; }
    .navbar-right-elements .list-inline > li > a {
      color: #999;
      padding: .3rem .3rem;
      display: block;
      position: relative;
      top: -2px; }
      .navbar-right-elements .list-inline > li > a i {
        display: block; }
      .navbar-right-elements .list-inline > li > a .badge {
        position: absolute;
        top: -5px;
        right: -1px;
        font-weight: 300;
        font-size: 11px;
        padding: 0px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        background-color: #3483de; }

.search-inline {
  width: 100%;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  height: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  z-index: 9; }
  .search-inline.search-visible {
    opacity: 1;
    visibility: visible;
    animation: fadeInDown 0.3s ease-out forwards; }
  .search-inline button[type="submit"] {
    position: absolute;
    right: 52px;
    top: 0;
    background-color: transparent;
    border: 0px;
    top: 0;
    right: 80px;
    padding: 0px;
    cursor: pointer;
    width: 80px;
    height: 100%;
    background: #222;
    color: #fff; }
  .search-inline .form-control {
    border: 0px;
    padding-left: 0;
    font-size: 2rem;
    position: absolute;
    left: 1%;
    top: 0;
    height: 100%;
    width: 99%;
    font-family: "Poppins", sans-serif;
    font-weight: 700; }
  .search-inline .search-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    width: 80px;
    height: 100%;
    text-align: center;
    display: table; }
    .search-inline .search-close i {
      display: table-cell;
      vertical-align: middle; }

.navbar-brand {
  position: relative; }

/**canvas header**/
.pushy {
  width: 290px; }
  .pushy.pushy-right {
    -webkit-transform: translate3d(290px, 0, 0);
    -ms-transform: translate3d(290px, 0, 0);
    transform: translate3d(290px, 0, 0); }

.pushy-open-left .pushy, .pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.pushy-open-left .site-overlay, .pushy-open-right .site-overlay {
  background: rgba(255, 255, 255, 0.8); }

.pushy .cart-content {
  padding: 30px 15px;
  position: relative; }
  .pushy .cart-content h4 small {
    font-size: 13px;
    display: block;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.8); }
  .pushy .cart-content .pushy-link {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0; }
  .pushy .cart-content ul {
    padding-top: 30px; }
    .pushy .cart-content ul li {
      padding: 20px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      .pushy .cart-content ul li a:not(.btn-primary) {
        padding: 0;
        font-size: 14px; }
        .pushy .cart-content ul li a:not(.btn-primary) .img-fluid {
          width: 60px;
          margin-right: 15px; }
      .pushy .cart-content ul li .close {
        text-shadow: none;
        color: #fff;
        font-size: 1rem; }
      .pushy .cart-content ul li p {
        font-size: 13px; }

.pushy a.btn-primary {
  color: #fff; }

/***********Header dark**************/
/**header transparent and semi transparent**/
@media (min-width: 992px) {
  .navbar.navbar-transparent {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99; }
    .navbar.navbar-transparent.navbar-light.bg-faded {
      background: transparent;
      border: 0px; }
      .navbar.navbar-transparent.navbar-light.bg-faded .nav-link {
        color: rgba(255, 255, 255, 0.7); }
        .navbar.navbar-transparent.navbar-light.bg-faded .nav-link:hover {
          color: white; }
      .navbar.navbar-transparent.navbar-light.bg-faded .active .nav-link, .navbar.navbar-transparent.navbar-light.bg-faded .show .nav-link {
        color: white; }
      .navbar.navbar-transparent.navbar-light.bg-faded.navbar-semi-transparent {
        background-color: rgba(255, 255, 255, 0.1); }
    .navbar.navbar-transparent.navbar-inverse.bg-inverse {
      background: transparent !important;
      border: 0px; }
      .navbar.navbar-transparent.navbar-inverse.bg-inverse .nav-link, .navbar.navbar-transparent.navbar-inverse.bg-inverse .navbar-right-elements .list-inline > li > a {
        color: rgba(0, 0, 0, 0.7); }
        .navbar.navbar-transparent.navbar-inverse.bg-inverse .nav-link:hover, .navbar.navbar-transparent.navbar-inverse.bg-inverse .navbar-right-elements .list-inline > li > a:hover {
          color: #3483de; }
      .navbar.navbar-transparent.navbar-inverse.bg-inverse .nav-item.active .nav-link {
        color: #3483de !important; }
    .navbar.navbar-transparent .dropdown-menu {
      border-top-color: #3483de; }
    .navbar.navbar-transparent .search-inline .form-control {
      padding-left: .75rem; }
    .navbar.navbar-transparent .navbar-right-elements .list-inline > li > a {
      color: rgba(255, 255, 255, 0.7); }
      .navbar.navbar-transparent .navbar-right-elements .list-inline > li > a:hover {
        color: white; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top .active .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top .nav-item.show .nav-link {
      color: #3483de !important; }
  /**header sticky**/
  .navbar.navbar-transparent.nav-sticky .navbar-brand .logo {
    position: absolute;
    top: -8px; }
    .navbar.navbar-transparent.nav-sticky .navbar-brand .logo.logo-dark {
      opacity: 0; }
  .navbar.navbar-transparent.nav-sticky.nav-stick-top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded {
      background-color: #fff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      animation: fadeInDown 0.3s ease-out forwards;
      padding: 1rem 1rem; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .navbar-brand .logo.logo-dark {
        opacity: 1; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .navbar-brand .logo.logo-light {
        opacity: 0; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .nav-item .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .navbar-right-elements .list-inline > li > a {
        color: rgba(0, 0, 0, 0.7); }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse {
      background-color: #292b2c !important;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      animation: fadeInDown 0.3s ease-out forwards;
      padding: 1rem 1rem; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .nav-item .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .navbar-right-elements .list-inline > li > a {
        color: rgba(255, 255, 255, 0.7); }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .navbar-brand .logo.logo-dark {
        opacity: 1; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .navbar-brand .logo.logo-light {
        opacity: 0; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .nav-item.active .nav-link {
        color: #3483de !important; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top .active .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top .show .nav-link {
      color: #3483de; }
  /**navbar light transparent**/
  .navbar-light.navbar-transparent-light {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent; }
  .nav-logo-center .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -46px; }
  .nav-sticky-top {
    z-index: 9999 !important; } }

/**seconday navbar**/
.navbar-seconday {
  padding: .4rem 0; }
  .navbar-seconday .nav-link {
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 1rem 1rem; }
  .navbar-seconday.nav-stick-top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99; }
  .navbar-seconday ul li a.nav-link.active {
    color: #3483de; }

@media (max-width: 991px) {
  .navbar-toggleable-md > .container {
    padding-left: 15px;
    padding-right: 15px; }
  .nav-sticky-top {
    position: relative !important;
    height: auto !important; }
  .sticky-wrapper {
    height: auto !important; } }

@media (max-width: 576px) {
  .container {
    width: 100%; } }

/*
Dropdown menu styles
*/
.dropdown-toggle::after {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  font-family: "FontAwesome";
  content: "\f107";
  font-size: 14px;
  display: inline;
  margin-left: 7px; }

.dropdown-menu {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  min-width: 12rem;
  border: 0px; }
  .dropdown-menu.lang-dropdown {
    width: 100px;
    min-width: 100px; }
    .dropdown-menu.lang-dropdown > li > a {
      line-height: 18px !important; }

.dropdown-menu .dropdown-item, .mega-inner-nav li a {
  font-weight: 400;
  font-size: .85rem;
  color: #a1b1bc;
  font-family: "Open Sans", sans-serif; }

/**mulit level dropdown**/
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #f7f7f7;
  margin-top: 8px;
  margin-right: -5px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #ccc; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

@media (min-width: 992px) {
  .navbar-inverse .dropdown-menu {
    border-top: 3px solid #3483de; }
  .dropdown-menu.dropdown-mega-fw {
    position: absolute;
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 0px; }
  .mega-menu-content {
    padding: 30px 0;
    padding-bottom: 20px; }
  .dropdown-menu, .dropdown-submenu .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .show > .dropdown-menu, .dropdown-submenu:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none; } }

.mega-title {
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 10px; }

.mega-inner-nav li {
  vertical-align: middle; }
  .mega-inner-nav li a {
    display: block; }
    .mega-inner-nav li a:hover {
      color: #3483de;
      background-color: transparent; }
    .mega-inner-nav li a i {
      margin-right: 6px;
      position: relative;
      top: 1px;
      font-size: 13px;
      width: 16px;
      display: inline-block; }

.dropdown .dropdown-menu .dropdown-item, .mega-inner-nav > li > a {
  padding: 7px 20px;
  text-transform: capitalize; }
  .dropdown .dropdown-menu .dropdown-item:hover, .mega-inner-nav > li > a:hover {
    background-color: transparent;
    color: #3483de; }
  .dropdown .dropdown-menu .dropdown-item:focus, .mega-inner-nav > li > a:focus {
    background-color: transparent;
    color: #3483de; }

.mega-inner-nav > li > a {
  padding: 7px 0; }

@media (min-width: 992px) {
  .mega-menu-content .row .col-lg-3:first-child {
    border-left: 0; }
  .mega-menu-content .row .col-lg-3 {
    border-left: 1px solid #eee;
    padding: 0px 30px; } }

/*
Accordoins card style
*/
.accordion-header {
  position: relative;
  background-color: #fff;
  border-bottom: 0px; }
  .accordion-header a {
    position: relative;
    display: block;
    color: #3483de;
    font-weight: 400;
    font-size: 1rem; }
    .accordion-header a:before {
      content: "\e64b";
      position: absolute;
      right: 0;
      top: 0;
      font-family: 'themify'; }
    .accordion-header a.collapsed {
      color: #34495E; }
      .accordion-header a.collapsed:before {
        content: "\e649";
        position: absolute;
        right: 0;
        top: 0;
        font-family: 'themify'; }

.card-accordion-simple .card {
  border: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px; }

.card-accordion-simple .card-header {
  background-color: transparent;
  border: 0px;
  padding: 0px;
  margin-bottom: 10px; }
  .card-accordion-simple .card-header a {
    display: block;
    padding: 10px 15px;
    background: #f5f5f5; }
    .card-accordion-simple .card-header a:before {
      top: 11px;
      right: 15px; }

.card-accordion-simple .card-block {
  padding: 20px 15px;
  padding-top: 10px; }

/*
Accounts style
*/
.accounts-page {
  padding-top: 100px;
  padding-bottom: 100px; }
  .accounts-page hr {
    border-top-color: rgba(255, 255, 255, 0.1); }
  .accounts-page .form-control {
    min-height: 45px; }

.white-card {
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.6); }

/*
Blockquotes
*/
.blockquote footer, .quote footer {
  font-weight: 500;
  color: #999; }

.quote {
  position: relative;
  border: 0px !important; }
  .quote:before {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    content: "\e67f";
    position: absolute;
    width: 38x;
    height: 38px;
    line-height: 38px;
    font-size: 32px;
    top: -10px;
    left: 0;
    color: #EEE; }
  .quote p {
    position: relative; }
    .quote p:first-letter {
      padding-left: 40px; }

.quote.blockquote-reverse:before {
  right: 0; }

.quote.blockquote-reverse p:first-letter {
  padding-left: 0px; }

/*
Breadcrumb style
*/
.breadcrumb {
  background: transparent;
  padding: 0px; }
  .breadcrumb .breadcrumb-item {
    float: none;
    display: inline-block;
    padding-left: 5px;
    font-size: .8rem; }

/*
Blog post entries
*/
.entry-card {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05); }

.entry-content {
  background-color: #fff;
  padding: 36px 36px 36px 36px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }
  .entry-content .entry-title {
    margin-bottom: 5px; }
    .entry-content .entry-title a {
      color: #333; }
      .entry-content .entry-title a:hover {
        color: #3483de; }
  .entry-content .entry-meta span {
    font-size: 12px; }

.entry-title {
  font-size: 1.3em;
  font-weight: 500; }

.entry-thumb {
  display: block;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }
  .entry-thumb img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .entry-thumb .thumb-hover {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(52, 131, 222, 0.85);
    display: block;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 40px;
    line-height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out; }
  .entry-thumb:hover .thumb-hover {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); }

.article-post {
  border-bottom: 1px solid #eee;
  padding-bottom: 70px; }
  .article-post .post-thumb {
    display: block;
    position: relative;
    overflow: hidden; }
    .article-post .post-thumb .post-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      transition: all .3s;
      -webkit-transition: all .3s;
      opacity: 0; }
      .article-post .post-thumb .post-overlay span {
        width: 100%;
        display: block;
        vertical-align: middle;
        text-align: center;
        transform: translateY(70%);
        -webkit-transform: translateY(70%);
        transition: all .3s;
        -webkit-transition: all .3s;
        height: 100%;
        color: #fff; }
    .article-post .post-thumb:hover .post-overlay {
      opacity: 1; }
      .article-post .post-thumb:hover .post-overlay span {
        transform: translateY(50%);
        -webkit-transform: translateY(50%); }

.post-content .post-title {
  font-weight: 500; }

.post-meta {
  padding-top: 15px;
  margin-bottom: 20px; }
  .post-meta li:not(:last-child) {
    margin-right: 10px; }
  .post-meta li a {
    color: #999; }
    .post-meta li a:hover {
      color: #3483de; }
  .post-meta li i {
    margin-right: 5px; }
  .post-meta li:after {
    margin-top: -5px;
    content: "/";
    margin-left: 10px; }
  .post-meta li:last-child:after {
    display: none; }

.post-masonry .masonry-title {
  font-weight: 500; }

.share-buttons li {
  vertical-align: middle; }
  .share-buttons li a {
    margin-right: 0px; }

.post-content .fa {
  color: #ddd; }

.post-content a h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0px; }

.article-post .owl-carousel {
  margin-bottom: 20px !important; }

.post-masonry h4 {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 700; }

/***owl carousel**/
.owl-carousel .owl-item img {
  display: block;
  width: auto; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

.owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%; }
  .owl-theme .owl-nav .owl-next {
    right: 0;
    top: -40px;
    position: absolute; }
  .owl-theme .owl-nav .owl-prev {
    left: 0;
    top: -40px;
    position: absolute; }

.owl-theme .owl-nav [class*=owl-] {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 32px;
  height: 32px;
  background: transparent;
  border: 1px solid rgba(52, 131, 222, 0.7);
  opacity: .8;
  line-height: 32px;
  font-size: 18px;
  padding: 0px;
  transition: all .3s;
  -webkit-transition: all .3s;
  color: rgba(52, 131, 222, 0.7); }
  .owl-theme .owl-nav [class*=owl-] i {
    display: inline-block; }
  .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #3483de;
    opacity: 1; }

.carousel-feature .icon-box {
  margin-top: 10px; }

.carousel-dark.owl-theme .owl-nav [class*=owl-] {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5); }
  .carousel-dark.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333; }

/**full screen slider**/
.owl-carousel.fullscreen {
  position: relative;
  overflow: hidden; }
  .owl-carousel.fullscreen .owl-height, .owl-carousel.fullscreen .owl-stage, .owl-carousel.fullscreen .owl-item {
    height: 100% !important;
    position: relative; }
  .owl-carousel.fullscreen .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

/*
Clients style
*/
.clients-grid {
  list-style: none;
  overflow: hidden;
  padding: 0; }
  .clients-grid li {
    width: 25%;
    float: left;
    position: relative;
    width: 20%;
    padding: 20px 0;
    -webkit-backface-visibility: hidden; }
    .clients-grid li img {
      display: block;
      margin: 0 auto; }
    .clients-grid li:before {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: -1px;
      border-left: 1px solid #eee; }
    .clients-grid li:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      top: auto;
      left: 0;
      bottom: -1px;
      border-bottom: 1px solid #eee; }
  .clients-grid.column4 li {
    width: 25%; }

.carousel-client .item img {
  max-width: 100%; }

/*
Countdown
*/
.count-down {
  text-align: center; }
  .count-down .cd-row {
    display: inline-block; }
    .count-down .cd-row > div {
      display: inline-block;
      width: 100px;
      text-transform: uppercase; }
  .count-down h1 {
    font-size: 2.9rem; }

.bg-parallax .count-down h1 {
  color: #fff; }

/*
Hero templates
*/
.fullscreen {
  width: 100%;
  height: 100%; }
  .fullscreen .d-flex {
    height: 100%;
    position: relative; }

@media (min-width: 992px) {
  .hero-text-style1 h1 {
    font-size: 3rem;
    line-height: 3rem; } }

/**particle hero**/
.particle-bg {
  position: relative;
  overflow: hidden; }
  .particle-bg .particle-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center; }

.error-404-content h1 {
  color: #fff;
  font-size: 9rem;
  line-height: 9rem; }

.error-404-content .lead {
  color: #fff;
  margin-bottom: 25px;
  font-weight: 700; }

/**coming soon full screen**/
.comingSoon h3 {
  font-size: 4rem;
  color: #fff; }

.comingSoon form {
  max-width: 400px;
  margin: 0 auto; }

.comingSoon .form-control {
  border-radius: 0px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #fff; }

.comingSoon p {
  color: #fff; }

/*
Icon boxes
*/
.icon-box-center {
  text-align: center; }

.icon-box h4 {
  text-transform: capitalize; }

.icon-box.icon-box-center h4 {
  margin: 25px 0 20px; }

.media .media-body h4 {
  text-transform: capitalize; }

.icon-background {
  color: #fff;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block; }
  .icon-background.icon-bg-sm {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 17px; }
  .icon-background.icon-bg-default {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 27px; }
  .icon-background.icon-bg-lg {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 40px; }

.icon-border {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  border: 1px solid;
  text-align: center; }
  .icon-border.icon-border-sm {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 17px; }
  .icon-border.icon-border-default {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 27px; }
  .icon-border.icon-border-lg {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 40px; }

/**hover icons**/
.icon-hover-1 {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s; }
  .icon-hover-1.bg-default {
    color: #999; }
  .icon-hover-1.bg-primary:after {
    box-shadow: 0 0 0 2px #3483de; }
  .icon-hover-1.bg-success:after {
    box-shadow: 0 0 0 2px #5cb85c; }
  .icon-hover-1.bg-default:after {
    box-shadow: 0 0 0 2px #f7f7f7; }
  .icon-hover-1.bg-warning:after {
    box-shadow: 0 0 0 2px #f0ad4e; }
  .icon-hover-1.bg-danger:after {
    box-shadow: 0 0 0 2px #c9302c; }
  .icon-hover-1.bg-dark:after {
    box-shadow: 0 0 0 2px #34495E; }
  .icon-hover-1:after {
    top: -4px;
    left: -4px;
    padding: 4px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .icon-hover-1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

.icon-hover-default {
  width: 90px;
  height: 90px;
  line-height: 90px; }
  .icon-hover-default:before {
    z-index: 2;
    font-size: 35px; }

.icon-hover-sm {
  width: 50px;
  height: 50px;
  line-height: 50px; }
  .icon-hover-sm:before {
    z-index: 2;
    font-size: 20px; }

/**icon border box**/
.icon-border-box {
  border: 1px solid #eee;
  padding: 30px 20px 15px; }
  .icon-border-box i {
    position: relative;
    font-size: 30px; }

/***special features***/
.special-feature .section-title hr {
  border-color: #151515; }

.special-feature i {
  font-size: 65px;
  line-height: 75px; }

.special-feature h4 {
  margin-top: 25px;
  position: relative;
  text-transform: capitalize; }

.special-feature .mask-top {
  width: 100%;
  background-color: #ffffff;
  padding: 20px 0;
  position: absolute;
  top: 0px;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.special-feature .mask-top h4:before {
  top: -18px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  right: 0;
  margin: -2px auto;
  position: absolute;
  width: 40px; }

.special-feature .s-feature-box:hover .mask-top {
  top: -200px;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.special-feature .s-feature-box {
    overflow: hidden;
    position: relative;
    height: 180px;
    border: 1px solid #f2f2f2;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #84848433;}

.special-feature .mask-bottom {
  padding: 20px 15px 20px 15px;
  width: 100%;
  position: absolute;
  bottom: -300px;
  height: 100%;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.special-feature .mask-bottom p {
  padding: 0px 5px;
  font-size: 14px; }

.special-feature .mask-bottom h4 {
  margin: 15px 0px 17px; }

.special-feature .s-feature-box:hover .mask-bottom {
  bottom: 0;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.special-feature .mask-bottom i {
  font-size: 38px;
  line-height: 50px; }

.icon-bg {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 60px 40px; }
  .icon-bg h3 {
    color: #fff; }
  .icon-bg p {
    color: rgba(255, 255, 255, 0.8); }
  .icon-bg i {
    color: #fff;
    display: inline-block; }

.icon-simple i {
  width: 60px;
  text-align: center;
  display: inline-block;
  height: 60px;
  line-height: 60px; }

/*
Image boxes styled hover styles
*/
.thumb-hover-icon {
  position: relative;
  display: block;
  width: 75px;
  height: auto;
  border-radius: 5px;
  float: left;
  margin: 3px; }
  .thumb-hover-icon img {
    border-radius: 5px; }
  .thumb-hover-icon span {
    width: 24px;
    height: 24px;
    display: block;
    line-height: 24px;
    text-align: center;
    background: #3483de;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -12px;
    color: #fff;
    border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .3s;
    -webkit-transition: all .3s; }
  .thumb-hover-icon:hover span {
    transform: scale(1);
    -webkit-transform: scale(1); }

.simple-hover {
  position: relative;
  display: block;
  overflow: hidden; }
  .simple-hover img {
    transform: scale(1);
    -webkit-transform: scale(1); }
  .simple-hover:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1); }
  .simple-hover .product-label {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 400; }

/**popup zoom effect animation style**/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

.product-meta {
  padding-top: 10px; }
  .product-meta .lead a {
    color: #666; }
    .product-meta .lead a:hover {
      color: #3483de; }
  .product-meta h4 {
    margin-top: 5px; }
    .product-meta h4 del {
      color: #aeaeae; }

/**project thumb**/
.project-thumb {
  text-align: center; }
  .project-thumb img {
    width: 100% !important; }
  .project-thumb > a {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    margin-bottom: 1.85714286em;
    display: block; }

/**project overlay**/
.project-overlay {
  display: block;
  position: relative;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  overflow: hidden; }
  .project-overlay img {
    width: 100% !important; }
  .project-overlay .project-overlay-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.2); }
    .project-overlay .project-overlay-caption h4, .project-overlay .project-overlay-caption span {
      color: #fff; }
    .project-overlay .project-overlay-caption h4 {
      font-weight: 400;
      margin-bottom: 5px; }

/**image video icon**/
.video-icon-image {
  position: relative;
  overflow: hidden; }
  .video-icon-image img {
    border-radius: 6px;
    -webkit-border-radius: 6px; }
  .video-icon-image .btn-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px; }

/**half image section**/
@media (min-width: 992px) {
  .half-image-content {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px; }
    .half-image-content .content-img {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%; }
      .half-image-content .content-img.pos-left {
        left: 0; }
      .half-image-content .content-img.pos-right {
        right: 0; } }

/*
Modals Style
*/
.popup-content-area {
  padding: 20px 30px;
  text-align: left;
  max-width: 450px;
  margin: 40px auto;
  position: relative; }
  .popup-content-area.white-popup {
    background: #fff; }

/*
Page title styles
*/
.page-titles.title-gray {
  background: #fbfbfb;
  background-size: 100%;
  background-attachment: fixed; }

.page-titles h4 {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 13px; }
  .page-titles h4 span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 23px; }

.page-titles-img {
  text-align: center; }
  .page-titles-img h1 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem; }
  .page-titles-img p {
    color: rgba(255, 255, 255, 0.8); }

.title-space-lg {
  padding-top: 10em;
  padding-bottom: 7em; }

.page-title-sm-gray {
  padding: 30px 0;
  padding-bottom: 20px;
  background-color: #f5f5f5; }
  .page-title-sm-gray .breadcrumb {
    margin-bottom: 0px; }
    .page-title-sm-gray .breadcrumb li.breadcrumb-item {
      font-size: 13px; }
  .page-title-sm-gray h4 {
    font-weight: 700;
    text-transform: uppercase; }

/*
Pagination
*/
.page-link {
  color: #3483de; }

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #3483de;
  border-color: #3483de; }

/*
Portfolio style
*/
.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
  background: rgba(52, 131, 222, 0.8); }

.cbp-l-grid-mosaic-flat .cbp-l-caption-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.cbp-l-grid-slider-testimonials-body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.cbp-l-grid-slider-testimonials-footer {
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.cbp-l-slider-testimonials-wrap {
  border: 0px; }

.cbp-l-caption-title, .cbp-l-filters-dropdownHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.cbp-l-caption-desc, .cbp-l-filters-dropdownList .cbp-filter-item {
  font-family: "Open Sans", sans-serif; }

.cbp-caption-activeWrap {
  background-color: #3483de; }

.cbp-caption-fadeIn .cbp-caption-activeWrap, .cbp-caption-zoom .cbp-caption-activeWrap {
  background-color: rgba(52, 131, 222, 0.8); }

.cbp-l-caption-desc {
  color: rgba(255, 255, 255, 0.8); }

.cbp-l-caption-alignCenter {
  display: table;
  width: 100%;
  height: 100%; }
  .cbp-l-caption-alignCenter .cbp-l-caption-body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0; }

.link-captions {
  padding-left: 0;
  margin: 0 0 20px;
  list-style: none;
  text-align: center;
  list-style: none; }
  .link-captions li {
    padding: 0 2px;
    display: inline-block; }
    .link-captions li a i {
      color: #fff;
      width: 42px;
      height: 42px;
      padding: 8px;
      font-size: 20px;
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.2);
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      transition: all .3s;
      -webkit-transition: all .3s;
      -ms-transition: all .3s; }
      .link-captions li a i:hover {
        background-color: #fff;
        color: #444; }

.cbp-l-grid-agency-title {
  text-transform: uppercase; }

.cbp-l-filters-buttonCenter .cbp-filter-counter {
  background-color: #3483de; }

.cbp-l-filters-buttonCenter .cbp-filter-counter:after {
  border-top-color: #3483de; }

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
  border-color: #3483de; }

.cbp-l-filters-button .cbp-filter-item, .cbp-l-filters-buttonCenter .cbp-filter-item {
  font-family: "Open Sans", sans-serif; }

.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
  background-color: #3483de;
  border-color: #3483de; }

.cbp-l-loadMore-button .cbp-l-loadMore-link, .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
  font-family: "Open Sans", sans-serif; }

.cbp-l-grid-projects-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 13px; }

.cbp-l-caption-buttonLeft, .cbp-l-caption-buttonRight {
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 600; }
  .cbp-l-caption-buttonLeft:hover, .cbp-l-caption-buttonRight:hover {
    color: #fff; }

.cbp-l-project-desc-title span, .cbp-l-project-details-title span, .cbp-l-project-related-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

.cbp-l-project-desc-text, .cbp-l-project-details-list > li, .cbp-l-project-details-list > div {
  font-family: "Open Sans", sans-serif; }

.cbp-l-project-details-visit {
  background-color: #3483de;
  font-family: "Open Sans", sans-serif; }

.cbp-l-grid-agency-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

/*
Pricing tables
*/
.pricing-table {
  margin: 10px 0;
  padding: 0 15px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.plan {
  background-color: #fbfbfb;
  border-radius: 0px;
  color: #333;
  margin-bottom: 35px;
  position: relative;
  z-index: 1; }
  .plan h6 {
    color: #aeaeae;
    font-weight: 400; }
  .plan .pricing-content {
    padding: 2em 0 1.5em 1.5em; }
  .plan .plan-header {
    padding: 2em 0 1.5em 1.5em; }
    .plan .plan-header h1 {
      font-weight: 700; }
      .plan .plan-header h1 small {
        font-size: 14px; }
  .plan ul {
    padding: 2em 0 2em 1.5em;
    margin: 0px; }
    .plan ul li {
      padding: 5px 0;
      font-size: 15px;
      color: #999; }
      .plan ul li i {
        color: #3483de;
        display: inline-block;
        margin-right: 10px; }
  .plan.popular-plan {
    box-shadow: 11px 0 10px -10px rgba(0, 0, 0, 0.3), -11px 0 10px -10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2; }
  .plan.plan-dark {
    border: 0px; }
    .plan.plan-dark h1, .plan.plan-dark ul li, .plan.plan-dark ul li i, .plan.plan-dark h6, .plan.plan-dark h4 {
      color: #fff; }
    .plan.plan-dark h4, .plan.plan-dark ul li, .plan.plan-dark h6 {
      opacity: 0.8; }

/*
Progress bars
*/
.progress {
  margin-bottom: 10px;
  height: 15px;
  border-radius: 100px; }
  .progress.progress-default .progress-bar {
    background: #3483de;
    border-radius: 100px;
    line-height: 15px; }

.progress-label {
  margin-bottom: 5px;
  margin-top: 15px; }
  .progress-label .progress-title, .progress-label .progress-value {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 5px; }
  .progress-label .progress-title {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 700;
    color: #3483de; }

/*
Promo boxes
*/
.promo-box.promo-padded {
  padding: 30px 30px 20px; }

.promo-box.promo-border {
  border: 1px solid #eee;
  padding: 30px 30px 20px; }

.promo-box.promo-dark {
  padding: 30px 30px 20px; }
  .promo-box.promo-dark h3, .promo-box.promo-dark p {
    color: #fff; }
  .promo-box.promo-dark p {
    opacity: 0.8; }

.promo-bg.promo-dark {
  padding: 80px 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center; }

.bg-parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden; }

/*
Revolution slider customization
*/
.tp-caption {
  font-family: "Poppins", sans-serif; }

.particale-title {
  font-family: "Poppins", sans-serif; }

.tp-caption.BigBold-Title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: capitalize; }

.revo-slider-desc-text {
  color: #fff;
  width: 100%; }

.tp-caption.NotGeneric-SubTitle, .NotGeneric-SubTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.tp-caption.NotGeneric-Title, .NotGeneric-Title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: -3px; }

.tp-caption.NotGeneric-CallToAction, .NotGeneric-CallToAction {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0px; }

.tp-caption.Agency-Social, .Agency-Social {
  border-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8); }

.tp-caption.Agency-Title, .Agency-Title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: -3px; }

/**main slider**/
.mainSlide-Title-Centered {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: "Poppins", sans-serif; }

.mainSlide-Subtitle {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  color: #eee;
  font-style: italic; }

.mainSlide-caption {
  color: #fff;
  font-weight: 300;
  font-family: "Open Sans", sans-serif; }

.sliderImg-title {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700; }

.slider-CallToAction.btn-white-outline {
  z-index: 1;
  position: relative; }
  .slider-CallToAction.btn-white-outline:hover, .slider-CallToAction.btn-white-outline:focus {
    background-color: #fff;
    color: #333 !important; }
  .slider-CallToAction.btn-white-outline i {
    margin-right: 0px; }

.slider-SmallCaption {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

/****text slider**/
/*
Template sidebar
*/
.sidebar-title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.1rem; }

.categories li {
  vertical-align: middle; }
  .categories li > ul {
    padding-left: 15px; }
    .categories li > ul > li > a {
      font-weight: 300; }
  .categories li a {
    color: #999;
    position: relative;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #eee; }
    .categories li a:before {
      content: "\f0da";
      font-family: 'FontAwesome';
      margin-right: 5px; }
    .categories li a:hover {
      color: #444;
      background-color: #f5f5f5; }

.categories > li.active > a {
  font-weight: 600;
  color: #444; }

.media-body h5 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  font-weight: 500; }
  .media-body h5 a {
    color: #555; }
    .media-body h5 a:hover {
      color: #3483de; }

/*
Tabs style
*/
.tabs-default.nav-tabs i {
  margin-right: 5px; }

.tabs-default.nav-tabs.nav-tabs .nav-link {
  border-top: 3px solid transparent;
  font-size: .9rem;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-weight: 400; }

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #eceeef #eceeef #ddd;
  border-top-color: #3483de !important; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #464a4c;
  background-color: #fff;
  border-color: #3483de #ddd #fff;
  border-top-color: #3483de !important; }

.tabs-circle-icon a.nav-link {
  display: block;
  color: #444; }
  .tabs-circle-icon a.nav-link > i {
    display: block;
    border-radius: 50%;
    text-align: center;
    width: 80px;
    height: 80px;
    background: #f5f5f5;
    line-height: 80px;
    font-size: 30px;
    transition: all .3s;
    -webkit-transition: all .3s; }
  .tabs-circle-icon a.nav-link.active > i {
    color: #fff;
    background: #3483de; }

/*
Team style
*/
.team-card {
  position: relative;
  overflow: hidden; }
  .team-card h4 {
    color: #fff; }
  .team-card .team-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms; }
    .team-card .team-overlay .team-detail {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -o-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms;
      text-align: center;
      width: 100%; }
      .team-card .team-overlay .team-detail h4 {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 0px; }
      .team-card .team-overlay .team-detail span {
        color: rgba(255, 255, 255, 0.8);
        display: block;
        font-size: 13px;
        font-style: italic; }
      .team-card .team-overlay .team-detail .seprator-overlay {
        width: 80px;
        height: 1px;
        margin: 10px auto;
        background: rgba(255, 255, 255, 0.8); }
      .team-card .team-overlay .team-detail ul li a {
        color: #fff; }
        .team-card .team-overlay .team-detail ul li a:hover {
          color: #3483de; }
  .team-card:hover .team-overlay {
    opacity: 1; }
    .team-card:hover .team-overlay .team-detail {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms; }

.team-card-default ul li + li {
  margin-left: 5px; }

.team-card-default ul li a {
  color: #999;
  font-size: 20px; }
  .team-card-default ul li a:hover {
    color: #3483de; }

/*
Testimonials
*/
.testimonial p {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  font-style: italic; }

.testimonial h5 {
  font-weight: 600; }
  .testimonial h5 span {
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }

.testimonial.testimonial-dark p {
  color: #fff;
  opacity: 0.8; }

.testimonial.testimonial-dark h5 {
  color: #fff; }

.testimonial .img-fluid {
  width: 128px !important;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%; }

.testimonial-card {
  text-align: center;
  padding: 30px 20px;
  margin: 10px; }
  .testimonial-card h5 {
    margin-bottom: 0; }
  .testimonial-card .img-fluid {
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 60px !important; }
  .testimonial-card.t-card-dark {
    background: #34495E;
    color: #fff; }
    .testimonial-card.t-card-dark h5 {
      color: #fff; }

/*
Title headings
*/
.fancy-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 15px;
  overflow: hidden; }
  .fancy-title h3, .fancy-title h2, .fancy-title h1, .fancy-title h4, .fancy-title h5, .fancy-title h6 {
    letter-spacing: -1px;
    padding-right: 15px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase; }
  .fancy-title h4 {
    font-size: 1rem;
    font-weight: 700; }
  .fancy-title .fancy-title-sep {
    position: relative;
    height: 6px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    -ms-flex-grow: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .fancy-title .fancy-title-sep.gray-sep {
      border-top-color: #f7f7f7;
      border-bottom-color: #f7f7f7; }
  .fancy-title.dark-fancy-title h3, .fancy-title.dark-fancy-title h2, .fancy-title.dark-fancy-title h1, .fancy-title.dark-fancy-title h4, .fancy-title.dark-fancy-title h5, .fancy-title.dark-fancy-title h6 {
    color: #fff; }
  .fancy-title.dark-fancy-title .fancy-title-sep.gray-sep {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.title-heading1 {
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 60px !important; }
  .title-heading1 h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem; }
  .title-heading1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    margin-left: -40px;
    height: 2px;
    background: #3483de; }

/*
Top bar style
*/
.top-bar {
  padding-top: 5px; }
  .top-bar.light {
    background: #fbfbfb; }
  .top-bar .list-inline .list-inline-item {
    padding: 0px 0px;
    margin-right: 0px; }
    .top-bar .list-inline .list-inline-item a {
      font-size: 12px;
      display: block;
      line-height: 32px;
      color: #999;
      margin: 0 !important; }
      .top-bar .list-inline .list-inline-item a.social-icon-sm {
        font-size: 15px; }

.links .list-inline-item {
  position: relative;
  padding: 0 7px !important; }
  .links .list-inline-item:before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 30%;
    top: 35%;
    background: rgba(0, 0, 0, 0.1); }
  .links .list-inline-item:last-child:before {
    display: none; }
  .links .list-inline-item:first-child {
    padding-left: 0px; }
  .links .list-inline-item i {
    color: rgba(0, 0, 0, 0.1); }
  .links .list-inline-item a:hover {
    color: #3483de; }

/**dark top bar**/
.top-bar.dark {
  background: #222; }

/*
Career 
*/
.career-card {
  padding: 40px 20px;
  background: #fbfbfb;
  margin-bottom: 40px; }
  .career-card h2 {
    color: #3483de;
    font-weight: 500; }
    .career-card h2 small {
      font-size: .7rem;
      color: #aeaeae; }

/*
Timeline
*/
.page-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px; }

.page-timeline:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: #3498db;
  z-index: 0; }

.page-timeline:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 40px;
  background: #3498db;
  background: -webkit-linear-gradient(top, #3483de, rgba(52, 152, 219, 0));
  background: linear-gradient(to bottom, #3483de, rgba(52, 152, 219, 0));
  top: 100%;
  left: 303px; }

.vtimeline-content {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 35px 20px;
  border-radius: 3px;
  text-align: left; }

.vtimeline-content h3 {
  font-size: 1.5em;
  font-weight: 600;
  display: inline-block;
  margin: 0; }

.vtimeline-content p {
  font-size: 0.9em;
  margin: 0; }

.vtimeline-point {
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 30px; }

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #3483de;
  border-radius: 50%;
  float: left;
  text-align: center;
  line-height: 50px;
  z-index: 99;
  margin-left: 280px; }

.vtimeline-icon i {
  display: block;
  font-size: 1.5em;
  line-height: 50px; }

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 400;
  color: #374054; }

/*
Smart form customization
*/
.smart-container {
  box-shadow: none; }

.smart-wrap {
  padding: 0px; }

.smart-container {
  margin: 0 auto; }

.smart-forms .form-body {
  padding: 0px;
  padding-bottom: 20px; }

.smart-forms .form-footer {
  overflow: hidden;
  padding: 0px;
  padding-top: 0px;
  background: #fff;
  background-image: none; }

.smart-forms .refresh-captcha {
  background-color: #5bc0de;
  border-color: #3483de; }

.smart-forms .button {
  padding: 13px 25px 13px !important;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase; }

.smart-forms .btn-primary {
  background-color: #3483de; }
  .smart-forms .btn-primary:active {
    background-color: #3483de; }
  .smart-forms .btn-primary:hover, .smart-forms .btn-primary:focus {
    background-color: #3483de; }

.smart-forms .input-hint {
  font-family: "Open Sans", sans-serif; }

/********typed text cursor style*********/
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #3483de; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.typed-text .typed {
  font-size: 2.5rem;
  font-weight: 300;
  display: inline-block;
  color: #3483de;
  line-height: 2rem;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif; }
  .typed-text .typed:after {
    content: '_';
    font-size: 1.2rem;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    position: relative;
    margin-left: 6px; }

.typed-cursor {
  display: inline-block;
  line-height: 2.5rem; }

/*
Footer styles
*/
.footer.footer-dark {
  background: #212121; }
  .footer.footer-dark h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase; }
  .footer.footer-dark hr {
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.footer .social-icons li {
  padding-right: 20px; }
  pa
.footer .social-icons li:last-child {
    padding-right: 0; }
  .footer .social-icons li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    text-transform: capitalize; }
    .footer .social-icons li a i {
      position: relative;
      border-right: 1px solid rgba(255, 255, 255, 0.6);
      text-align: center;
      padding-right: 10px;
      margin-right: 10px; }
    .footer .social-icons li a:hover {
      color: white; }

.footer h4 {
  display: inline-block;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 0; }
  .footer h4 i {
    margin-right: 8px; }

.footer p {
  color: rgba(255, 255, 255, 0.6); }

.footer-list-item li {
  padding-left: 20px;
  padding-bottom: 10px;
  position: relative; }
  .footer-list-item li:last-child {
    padding-bottom: 0px; }
  .footer-list-item li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f105";
    font-family: 'FontAwesome'; }
  .footer-list-item li a {
    color: rgba(255, 255, 255, 0.8); }
    .footer-list-item li a:hover {
      color: #fff; }
  .footer-list-item li em {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6); }

.contact-list-item li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  min-height: 32px; }
  .contact-list-item li:last-child {
    padding-bottom: 0px; }
  .contact-list-item li i {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    display: block; }

.footer-light.footer {
  background-color: #f5f5f5; }
  .footer-light.footer h3 {
    font-size: 1rem;
    margin-bottom: 30px; }
  .footer-light.footer .footer-list-item li a {
    color: #333; }
    .footer-light.footer .footer-list-item li a:hover {
      color: #3483de; }
  .footer-light.footer .footer-list-item li em {
    color: #999; }
  .footer-light.footer p {
    color: #666; }
  .footer-light.footer .contact-list-item li {
    color: #666; }
    .footer-light.footer .contact-list-item li i {
      color: #fff;
      background-color: #3483de;
      border-color: #3483de; }
  .footer-light.footer .social-icons li a {
    color: #999; }
    .footer-light.footer .social-icons li a:hover {
      color: #3483de; }
    .footer-light.footer .social-icons li a i {
      border-right: 1px solid #eee; }
  .footer-light.footer h4 {
    color: #999; }

.footer-standard {
  background-color: #222;
  font-size: 14px; }
  .footer-standard h3 {
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1rem; }
  .footer-standard .latest-news img {
    border-radius: 5px;
    width: 70px; }
  .footer-standard .latest-news .media-body {
    font-size: 12px; }
  .footer-standard .latest-news h5 {
    margin-bottom: 0px;
    font-size: 15px; }
  .footer-standard .latest-news h5 a {
    color: rgba(255, 255, 255, 0.7); }

.footer-bottomAlt {
  padding: 15px 0;
  padding-top: 20px;
  background-color: #000; }
  .footer-bottomAlt span {
    display: block;
    text-align: right; }

/**intro css (you can remove it)**/
/*
Assan intro page style
*/
.assan-intro-header {
  padding-top: 150px;
  padding-bottom: 150px; }

.tlt {
  text-transform: capitalize !important; }

.tlt.h1 {
  text-transform: capitalize !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.b4-demos {
  background-color: #23282d; }

.demo-box-b4 {
  border-radius: 5px;
  box-shadow: 0 15px 45px -9px rgba(0, 0, 0, 0.25);
  display: block;
  position: relative; }
  .demo-box-b4 img {
    border-radius: 5px;
    transition: all .3s;
    -webkit-transition: all .3s; }
  .demo-box-b4:hover img {
    opacity: 0.7; }

.label-new {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  z-index: 1;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700; }

.b4-demos hr {
  border-top-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 50px; }

.intro-features li {
  position: relative;
  padding-left: 30px;
  display: block;
  padding-bottom: 9px;
  color: #fff;
  font-size: 18px;
  font-weight: 300; }
  .intro-features li:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8; }

.btn-fixed {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 12px !important; }

/*
Template responsive style
*/
@media (max-width: 991px) {
  .dropdown-menu {
    box-shadow: none; }
  .dropdown-submenu > .dropdown-menu {
    display: block;
    padding-left: 15px; }
  .search-inline .form-control {
    font-size: 14px; }
  .search-inline button[type="submit"] {
    width: 20px;
    background-color: transparent;
    color: #333; }
  .search-inline {
    height: 75px; }
  .vtimeline-icon {
    margin-left: 0px; }
  .page-timeline:before, .page-timeline:after {
    left: 23px; }
  .vtimeline-date {
    display: none; }
  .vtimeline-content {
    margin-left: 55px; } }

@media all and (max-width: 767px) {
  .hero-text-style1 .h1, .fullscreen h2, .fullscreen h1 {
    font-size: 1.8em !important;
    line-height: 1.31818182em; }
  h1,
  .h1 {
    font-size: 2.35714em !important;
    line-height: 1.36364em !important; }
  h2,
  .h2 {
    font-size: 1.78571em !important;
    line-height: 1.5em !important; }
  h3,
  .h3 {
    font-size: 1.35714em !important;
    line-height: 1.85714em !important; }
  .lead {
    font-size: 1.35714em !important;
    line-height: 1.36842em !important; } }

.flexRow {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.owl-wrapper .owl-item {
    margin: 0.83333rem 0;
}
.text-xs-center, .page_title {
    text-align: center !important;
}
.catinfo_grid figure img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.catinfo_grid .catinfo:hover img {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
}
.catinfo_grid .catinfo:hover .catinfo_wrap {
    margin-top: -40px;
}
.catinfo_wrap {
    position: relative;
    background: #fff;
    padding: 0.88889rem;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.widget-categoriesinfo .catinfo h4 {
    margin-bottom: 5px;
    font-size: 20px;
}

.dash-filter-div {
    float: left;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 15px 0px 0px;
    margin-bottom: 16px;
}
.dash_filter-anchor {
    float: right;
}
.dash_filter-anchor li {
    float: left;
    margin-right: 10px;
    list-style: none;
    border: 1px solid #eee;
    padding: 4px 16px;
    position: relative;
    box-shadow: 0px 0px 10px #84848433;
}
.dash_filter-anchor li a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #636363;
    cursor: pointer;
}
.notification {
    font-size: 10px;
    width: 20px;
    height: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
    right: -10px;
    top: -10px;
    position: absolute;
    background: #3483de;
}
label{
  font-weight: bold;
}
/*step style*/
#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 20px 5px;
    float: left;
    width: 100%;
    text-align: center;
}

#progress li {
    float: left;
    background: #d9e3f7;
    color: #fff;
    position: relative;
    width: 24%;
    margin: 0 1px;
}

#progress li:before {
    content: '';
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    
}
#progress li:after {
    content: '';
    border-left: 16px solid #d9e3f7;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

#progress li.active {
    background: #3483de;
}
#progress li a{
  color: #333;
  display: block;
  padding: 10px 30px 10px 40px;
}
#progress li.active a{
  color: #fff;
}

#progress li.active:after {
    border-left-color: #3483de;
}
.dataTables_length label{
  display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
#example_filter label{
  float: right;
}
.pagination {
    float: right;
}

.pagination a {
    color: black;
    float: left;
    padding: 4px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
#example_wrapper .row{
  width: 100%;
}
/*plans*/
.plans-table article {
  width:100%;
  max-width:1000px;
  margin:0 auto;
  position:relative;
}
.plans-table ul {
  display:flex;
  top:0px;
  z-index:10;
  padding-bottom:14px;
}
.plans-table li {
  list-style:none;
  flex:1;
}
.plans-table li:last-child {
  border-right:1px solid #DDD;
}
.plans-table button {
  width:100%;
  border: 1px solid #DDD;
  border-right:0;
  border-top:0;
  padding: 10px;
  background:#FFF;
  font-size:14px;
  font-weight:bold;
  height:60px;
  color:#999
}
.plans-table li.active button {
  background:#F5F5F5;
  color:#000;
}
.plans-table table { border-collapse:collapse; table-layout:fixed; width:100%; }
.plans-table th { background:#F5F5F5; display:none; }
.plans-table td,.plans-table  th {
  height:53px
}
.plans-table td,.plans-table th { border:1px solid #DDD; padding:10px; empty-cells:show; }
.plans-table td,.plans-table th {
  text-align:left;
}
.plans-table td+td,.plans-table  th+th {
  text-align:center;
  display:none;
}
.plans-table td.default {
  display:table-cell;
}
.bg-purple {
  border-top:3px solid #A32362;
}
.bg-blue {
  border-top:3px solid #0097CF;
}
.sep {
  background:#F5F5F5;
  font-weight:bold;
}
.txt-l { font-size:28px; font-weight:bold; }
.txt-top { position:relative; top:-9px; left:-2px; }
.tick { font-size:18px; color:#2CA01C; }
.hide {
  border:0;
  background:none;
}

@media (min-width: 640px) {
  .plans-table ul {
    display:none;
  }
  .plans-table td,.plans-table th {
    display:table-cell !important;
  }
  .plans-table td,.plans-table th {
    width: 330px;
  
  }
  .plans-table td+td,.plans-table  th+th {
    width: auto;
  }
}
.dropdown-toggle::after{ display: none !important; }
.letter{
  padding:15px;
  width: 100%;
}
.form-inline label{
  display: inline-block;
}
.select-letter{
  display: block;
  width: 100%;
}
.dataTables_wrapper{
  margin-top: 20px;
}
#example_wrapper .row{
  margin:0;
}
#example_wrapper .col-sm-12{
  padding: 0;
}
.reg-form .form-group{
  float: left;
  padding: 0;
}
.reg-form .form-control{
  border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0 !important;
} 
.reg-form select.form-control:not([size]):not([multiple]) {
    height: 33px;
}
.form-control{
  font-size: 13px;
}
.mr-10{margin-right: 10px}
.fnone{float: none !important;}
.shop-sidebar h4{
    border-bottom: 1px solid #dcdcdc;
    padding: 8px 0;
    margin: 10px 0;
}
.shop-sidebar label{
      font-weight: normal;
}
.shop-sidebar input{
      margin-right: 10px;
}
.product-meta p{
     line-height: 23px;
    margin: 0;
    font-size: 12px;
}
.shop-container .btn{
      border-radius: 0;
    width: 100%;
}
.product-meta {
    padding: 18px 0 !important;
}
.prod-detail p{
  float: left;
  width: 50%;
  text-align: left;
}
.prod-detail p:nth-child(even){
  text-align: right;
}